* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content {
  margin: 0;
  padding-bottom: 60px; /* Matches the footer height */
  box-sizing: border-box;
}

/* transection page */
.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 3px gray;
  margin-bottom: 10px;
}
/* transection page */

/* antd icons */

.switch-icons {
  border: 1px solid rgba(0, 0, 0, 0.677);
  border-radius: 5px;
  padding: 10px 15px;
}

.anticon svg {
  font-size: 20px;
  cursor: pointer;
}

.active-icon {
  color: black;
}
.inactive-icon {
  color: gray;
}

.filter-tab .ant-select-selector {
  width: 150px !important;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10; /* Ensures it appears above other elements if needed */
}